<article>
  <h1><%= @company.name %></h1>
  <dl>
    <dt>Local</dt>
    <dd><%= @company.location %></dd>
    <dt>Email</dt>
    <dd><%= @company.mail %></dd>
    <dt>Telefone</dt>
    <dd><%= @company.phone %></dd>
  </dl>
  <section class="row row--border-bottom">
    <% if @company.jobs.any? %>
      <% @company.jobs.each do |job| %>

      <%= render job %>

      <% end %>
    <% else %>
      <p>
        Nenhuma vaga disponível
      </p>
    <% end %>
  </section>
</article>
